.skiptranslate {
    display: none
}

/*播放器过宽*/
#slidelist {
    min-width: 500px !important;
}

.web-login-container {
    width: 100% !important;
}

#login-pannel {
    height: 100% !important;
    width: 100% !important;
}

.box-align-center {
    width: 100% !important;
    height: 800px !important;
}

div[class*="qrcode-wrapper"] {
    width: 450px !important;
    height: 450px !important;
}

.xgplayer-playswitch-tab {
    opacity: 0.5 !important;
    width: 100px !important;
    height: 500px !important;
}

.xgplayer-playswitch-prev {
    width: 100% !important;
    height: 50% !important;
}

.xgplayer-playswitch-prev > svg {
    left: 35% !important;
}

.xgplayer-playswitch-next {
    width: 100% !important;
    height: 50% !important;
}

.xgplayer-playswitch-next > svg {
    left: 35% !important;
    top: 85% !important;
}
