[class*="Frame_side"] {
    width: 180px !important;
}


[class*="Frame_side"] [class*="NavItem_icon_"] {
    margin-right: 0 !important;
    width: 25px !important;
    height: 26px !important;
}

[class*="Frame_side"] [class*="NavItem_main_"] {
    padding: 8px 0 !important;
}

[class*="Frame_top_"] [class*="Nav_left_"] {
    width: 105px !important;
}

[class*="Ctrls_main_"] {
    width: 100% !important;
}

[class*="Ctrls_main_"] [class*="Ctrls_item_"] {
    width: 50px !important;
    margin: 0 auto !important;
}

[class*="SecBar_"] [class*="woo-box-item-"] {
    width: 50% !important;
}

/*私信页面 start*/
[class*="readnum_readWrap_"] {
    width: 80px !important;
}

[class*="readnum_linkbox_"] {
    display: none !important;
}

.wbpro-layer {
    width: 450px !important;
}

/*私信页面 end*/

.myHide {
    display: none !important;
}

[class*="follow-btn_"] {
    width: 65px !important;
    height: 65px !important;
}

[class*="Frame_main_"] [class*="Bar_main_"] [class*="Bar_mid_"] {
    display: none !important;
}

[class*="ProfileHeader_box"] [class*="ProfileHeader_item"] {
    margin: 0 0 80px !important;
}

/*主页标签过长*/
[class*="ProfileHeader_item"] {
    display: none !important;
}

/*新主题对话框*/
#app > .woo-box-alignCenter {
    display: none !important;
}




