[class*="Frame_side"], .m-main-nav {
    width: 30% !important;
}

[class*="Frame_side"] [class*="NavItem_icon_"], .m-main-nav [class*="NavItem_icon_"] {
    margin-right: 0 !important;
    width: 25px !important;
    height: 26px !important;
}

[class*="Frame_side"] [class*="NavItem_main_"], .m-main-nav [class*="NavItem_main_"] {
    padding: 8px 0 !important;
}

[class*="Frame_top_"] [class*="Nav_left_"], #searchapps [class*="Nav_left_"] {
    width: 105px !important;
}

/*搜索页面*/
.m-main {
    width: 100% !important;
}

/*搜索页面 列表*/
#pl_feed_main {
    width: 100% !important;
}

/*搜索页面 右边栏*/
#pl_feed_main .main-side {
    display: none !important;
}

[class*="Ctrls_main_"] {
    width: 100% !important;
}

[class*="Ctrls_main_"] [class*="Ctrls_item_"] {
    width: 50px !important;
    margin: 0 auto !important;
}

[class*="SecBar_"] [class*="woo-box-item-"] {
    width: 50% !important;
}

/*私信页面 start*/
[class*="readnum_readWrap_"] {
    width: 80px !important;
}

[class*="readnum_linkbox_"] {
    display: none !important;
}

.wbpro-layer {
    width: 450px !important;
}

/*私信页面 end*/

.myHide {
    display: none !important;
}

[class*="follow-btn_"] {
    width: 65px !important;
    height: 65px !important;
}

[class*="Frame_main_"] [class*="Bar_main_"] [class*="Bar_mid_"] {
    display: none !important;
}

[class*="ProfileHeader_box"] [class*="ProfileHeader_item"] {
    margin: 0 0 80px !important;
}

/*主页标签过长*/
[class*="ProfileHeader_item"] {
    display: none !important;
}




