#plc_frame {
    display: none !important;
}

/*.gn_logo {*/
/*    display: none !important;*/
/*}*/

/*.gn_nav {*/
/*    display: none !important;*/
/*}*/

.WB_global_nav {
    display: none !important;
}

[node-type="qr_help"] {
    display: none !important;
}

.W_layer_close {
    display: none !important;
}

[node-type="login_frame"] {
    display: none !important;
}

[class*='layer_login_register_'] .tab_bar {
    display: none !important;
}

[class*="layer_login_register_"] > img[src*="rs.sinajs.cn/xdht.gif"] {
    display: none !important;
}

.qrcode_con {
    height: 260px !important;
    margin-top: 0 !important;
}