.SignFlowHomepage-footer {
    display: none;
}

.SignFlowHomepage-content > div > :nth-child(4) {
    display: none;
}

.SignContainer-tip {
    font-size: 10px;
}

.SignFlowHomepage-logo + div {
    width: 100% !important;
    height: 100% !important;
}

.Login-content {
    padding: 0 24px 55px !important;
}

.Login-socialLogin > span:not(.Login-socialButtonGroup) {
    display: none;
}

.SignFlowHomepage-logo {
    display: none;
}

.Qrcode-container {
    padding: 55px 0 !important;
}