.MobileAppHeader-downloadLink{
    display:none
}
.DownloadGuide{
    display:none
}
.TopstoryItem--advertCard{
    display:none
}

.ModalExp-background{
    display:none
}
.ModalExp-content{
    display:none
}
.OpenInAppButton{
    display:none
}
