
body{
	top:0px!important; 
    min-height: 0px!important;
}

.goog-te-banner-frame{
	display:none
}

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}